<agro-menu-interna></agro-menu-interna>

<ngu-carousel [inputs]="carouselTwo" class="one car-d">
	<ngu-item NguCarouselItem>
		<div class="tablet"><img src="assets/img/internet-itemc.png"></div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<div class="tablet"><img src="assets/img/internet-item2c.png"></div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<div class="tablet"><img src="assets/img/internet-item3c.png"></div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<div class="tablet"><img src="assets/img/internet-item4c.png"></div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<div class="tablet"><img src="assets/img/internet-item5c.png"></div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<div class="tablet"><img src="assets/img/internet-item7c.png"></div>
	</ngu-item>
	<button NguCarouselPrev class='leftRs'><img src="assets/img/btn-prev.png"></button>
	<button NguCarouselNext class='rightRs'><img src="assets/img/btn-next.png"></button>
</ngu-carousel>

<!--<carousel class="car-d">
	<div class="one">
		<slide id="img-2"><img src="assets/img/internet-item2.png"></slide>
		<slide id="img-3"><img src="assets/img/internet-item3.png"></slide>
		<slide id="img-4"><img src="assets/img/internet-item4.png"></slide>
		<slide id="img-5"><img src="assets/img/internet-item5.png"></slide>
		<slide id="img-6"><img src="assets/img/internet-item6.png"></slide>
	</div>
</carousel>-->

<carousel class="car-m" [interval]="myInterval">
	<slide>
		<img src="assets/img/internet-m1.png" alt="First slide" class="home-slider-bg">
	</slide>
	<slide>
		<img src="assets/img/internet-m2.png" alt="First slide" class="home-slider-bg">
	</slide>
	<slide>
		<img src="assets/img/internet-m3.png" alt="First slide" class="home-slider-bg">
	</slide>
	<slide>
		<img src="assets/img/internet-m4.png" alt="First slide" class="home-slider-bg">
	</slide>
	<slide>
		<img src="assets/img/internet-m5.png" alt="First slide" class="home-slider-bg">
	</slide>
	<slide>
		<img src="assets/img/internet-m6.png" alt="First slide" class="home-slider-bg">
	</slide>
	<slide>
		<img src="assets/img/internet-m7.png" alt="First slide" class="home-slider-bg">
	</slide>
</carousel>