// .ui-widget-header {
// 	background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
// 	background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
// 	background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
// 	background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
// 	background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
// 	background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
// }
.ui-accordion {
    .ui-accordion-header {
        background: $headerBgColor;
        border-top: 1px solid $headerBorderColor;
        a {
            color: $headerTextColor;
        }
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
            background: #ededf0;
        }
        &.ui-state-active {
            background: #ffffff;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    }
    .ui-accordion-content {
        border: 0 none;
    }
}


/* Tabview */

.ui-tabview {
    &.ui-widget-content {
        border: 0 none;
    }
    .ui-tabview-nav {
        background: transparent;
        >li {
            &.ui-state-default {
                background: #f6f7f9;
            }
            &.ui-state-active {
                background: #ffffff;
                font-weight: normal;
                color: #555555;
            }
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background: #ededf0;
            }
        }
    }
}


/* Spinner */

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:hover {
    border: 1px solid #1f89ce;
    background: #1f89ce;
    outline: 0 none;
    color: #ffffff;
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #ffffff,
}

.ui-slider {
    position: relative;
    text-align: left;
    background: #838688;
    border: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px !important;
    height: 18px !important;
    cursor: default;
    background-color: #00256e;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #14a4ff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ui-slider .ui-slider-handle.ui-state-active {
    background-position: -17px 0;
}

.ui-slider-horizontal {
    height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -2px !important;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.1em !important;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

.ui-progressbar .ui-progressbar-value {
    border: 1px solid #3f94e9;
    background: #8ec5fc;
}

.ui-progressbar .ui-progressbar-label {
    color: #222222;
}

.ui-widget-overlay {
    /* z-index: $zindex-fixed + 3 !important; */
    background: $black;
    opacity: .50;
    filter: Alpha(Opacity=50);
}

.ui-widget-header .ui-button,
.ui-widget-content .ui-button,
.ui-button {
    border: 1px solid #2399e5;
    color: #FFFFFF;
    background: #2399e5;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    &:enabled:hover,
    &:focus {
        border: 1px solid #1f89ce;
        background: #1f89ce;
        outline: 0 none;
        color: #ffffff;
    }
    &:enabled:active {
        border: 1px solid #156090;
        background: #186ba0;
        color: #ffffff,
    }
}


/* Checkbox and Radio */

.ui-chkbox-box.ui-state-active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #FFFFFF;
}

.ui-chkbox-box.ui-state-focus,
.ui-radiobutton-box.ui-state-focus {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
    -webkit-box-shadow: 0px 0px 5px #1f89ce;
    box-shadow: 0px 0px 5px #1f89ce;
}

.ui-radiobutton,
.ui-radiobutton-label {
    vertical-align: middle;
    display: inline-block;
}

.ui-radiobutton {
    .ui-helper-hidden-accessible {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        border: 0;
    }
    .ui-radiobutton-box {
        width: 1.125em;
        height: 1.125em;
        line-height: 1.125em;
        border-radius: 100%;
        text-align: center;
        &.ui-state-focus,
        &.ui-state-active {
            background: $blue-primary;
        }
        &.ui-state-active {
            border: 1px solid $blue-primary;
            background: $blue-primary;
            color: $white;
        }
        .ui-radiobutton-icon {
            display: block;
            font-size: .6875rem;
            line-height: inherit;
            margin-top: 0;
        }
    }
}


/* Calendar */

p-calendar {
    width: 100%;
    span {
        width: 100%;
    }
}

// esconde borda arredondada do input calendar quando está dentor de um input group
.input-group {
  .ui-calendar {
    .ui-inputtext {
      &.ui-corner-all {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
}

.ui-cell-editor {
  .ui-calendar {
    .ui-inputtext {
      height: 31px;
    }
  }
}

.ui-calendar {
    .ui-inputtext {
        width: 100%;
        padding: 0.5rem;
        font-size: $font-size-base;
        line-height: 1.25;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        &.ui-state-focus,
        &:focus {
            -moz-box-shadow: 0px 0px 5px #1f89ce;
            -webkit-box-shadow: 0px 0px 5px #1f89ce;
            box-shadow: 0px 0px 5px #1f89ce;
        }
        &.ui-corner-all {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
    .ui-widget:disabled {
        opacity: 100;
        color: rgba(0, 0, 0, 0.4);
        background-color: #e9ecef;
        border-color: rgba(0, 0, 0, 0.15);
    }
}


/* InputSwitch */

.ui-inputswitch-on {
    background: $stateHighlightBgColor !important;
    color: $stateHighlightTextColor !important;
}


/* DataTable  */

.ui-datatable {
    .ui-widget-header {
        padding: .5em;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: #fff;
        &:last-child {
            padding: .5em;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: #fff;
        }
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .ui-rowgroup-header {
            &.ui-rowgroup-header-name {
                color: $blue-primary;
            }
        }
        .widget-search {
            padding-left: 40px;
            font-family: OpenSans;
            font-weight: $font-weight-semi-bold;
            background: url(assets/svg/magnifier-list.svg) no-repeat 4px 5px;
            background-size: 28px;
            border-radius: 30px;
            border: 1px solid #d9d9d9;
            outline: none;
            &:focus {
                background-color: $gray-lightest;
            }
        }
        label {
            margin-bottom: 0;
        }
    }
    thead {
        &.ui-datatable-thead {
            th {
                font-family: OpenSans;
                font-weight: $font-weight-semi-bold;
                &.ui-state-default {
                    background: #ebedf0;
                    border-color: #d9d9d9;
                }
                &.ui-sortable-column:not(.ui-state-active):hover {
                    background: #d3d5d8;
                    border-color: #d9d9d9;
                }
                &.ui-state-active {
                    background: $blue-primary;
                    color: $white;
                }
            }
        }
    }
    tbody {
        >tr.ui-widget-content {
            border-color: #d9d9d9;
            &.ui-datatable-odd {
                background-color: #eaeaea;
            }
            &.ui-state-highlight {
                background-color: $stateActiveBgColor;
                color: $stateActiveTextColor;
            }
        }
    }
    tfoot {
        td {
            &.ui-state-default {
                background: #ebedf0;
                border-color: #d9d9d9;
            }
        }
    }
}

@media ( max-width: 35em) {
    .ui-datatable-reflow .ui-datatable-data>tr>td {
        width: 100% !important;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
    }
}

.ui-paginator {
    .ui-paginator-page {
        font-family: Roboto;
        font-weight: $font-weight-bold;
        &.ui-state-active {
            background: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
            border-color: $stateHighlightBorderColor;
        }
    }
}


/* Panel */

.ui-panel.ui-widget {
    padding: 0;
    .ui-panel-titlebar.ui-corner-all {
        -moz-border-radius-bottom-left: 0;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-radius-bottom-right: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .ui-panel-titlebar {
        border-width: 0 0 1px 0;
    }
    .ui-panel-titlebar-icon span {
        position: relative;
        top: 1px;
    }
}


/* TreeTable */

.ui-treetable {
    th.ui-state-default {
        background: #ebedf0;
        border-color: #d9d9d9;
    }
}


/* ButtonSet */

.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #ffffff;
    font-weight: normal;
    color: #555555;
}

.ui-togglebutton.ui-button.ui-state-hover,
.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-hover,
.ui-selectbutton .ui-button.ui-state-focus {
    border: 1px solid #c0c0c0;
    background: #eeeeee;
    font-weight: normal;
    color: #212121;
}

.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-focus.ui-state-active {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
    -webkit-box-shadow: 0px 0px 5px #1f89ce;
    box-shadow: 0px 0px 5px #1f89ce;
}

.ui-togglebutton.ui-button.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #FFFFFF;
}

.ui-multiselect {
    .ui-multiselect-label {
        background-color: #ffffff;
    }
}

.ui-dropdown.ui-state-focus,
.ui-multiselect.ui-state-focus {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
    -webkit-box-shadow: 0px 0px 5px #1f89ce;
    box-shadow: 0px 0px 5px #1f89ce;
}


/* Growl */

.ui-growl-item-container.ui-state-highlight {
    &.ui-growl-message-info {
        background-color: #2196f3;
        border-color: #2196f3;
    }
    &.ui-growl-message-error {
        background-color: #f44336;
        border-color: #f44336;
    }
    &.ui-growl-message-warn {
        background-color: #FFB300;
        border-color: #FFB300;
    }
    &.ui-growl-message-success {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }
}


/* TabMenu */

.ui-tabmenu {
    border: 0 none;
    .ui-tabmenu-nav {
        background: none;
        >li {
            &.ui-state-default {
                background: #f6f7f9;
            }
            &.ui-state-active {
                background: #ffffff;
                font-weight: normal;
                color: #555555;
            }
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background: #ededf0;
            }
        }
    }
}


/* Menus */

.ui-menu,
.ui-menu .ui-menu-child {
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
    /* W3C */
}

.ui-menu {
    .ui-menuitem {
        .ui-menuitem-link {
            &:hover {
                background-color: #a6a6a6;
                color: #ffffff;
            }
        }
        &.ui-menuitem-active {
            >.ui-menuitem-link {
                background-color: #a6a6a6;
                color: #ffffff;
            }
        }
    }
}


/* PanelMenu */

.ui-panelmenu .ui-panelmenu-header.ui-state-active,
.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
    border-color: #156090;
    background: #186ba0;
    color: #FFFFFF;
}


/* DatePicker */

.ui-datepicker {

  z-index: $zindex-fixed + 2 !important;

  &.ui-widget {
    padding: 0;
    .ui-datepicker-header {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        a {
            &:hover {
                border-width: 1px;
            }
        }
    }
    .ui-datepicker-calendar {
        margin: 0;
        thead th {
            background-color: #f6f8fa;
            padding: 8px;
        }
        td {
            border-bottom: 1px solid rgba(213, 213, 213, 0.5);
            padding: 0;
            a {
                color: #212121;
                border: 0 none;
                text-align: center;
                padding: 8px;
                &.ui-state-highlight {
                    background-color: #d6d6d6;
                    color: #212121;
                }
                &.ui-state-active {
                    background: $stateHighlightBgColor;
                    color: $stateHighlightTextColor;
                }
            }
        }
        tr:last-child td {
            border-bottom: 0 none;
        }
    }
    .ui-timepicker {
        border-bottom: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        .fa {
            color: #212121;
        }
    }
    &.ui-datepicker-timeonly {
        .ui-timepicker {
            border-top: 0 none;
        }
    }
  }
}


/* Steps */

.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link {
    color: #ffffff;
}


/* Dialog */

.ui-dialog {
    z-index: $zindex-fixed + 4;
    .ui-dialog-titlebar {
        padding: .75em 0.5em .75em .75em !important;
        .ui-dialog-title {
            font-family: OpenSans;
            font-weight: bold;
            font-size: $font-size-lg;
        }
        &.ui-widget-header {
            background: transparent;
        }
        .ui-dialog-titlebar-close {
            padding: 0.1875rem 0.125rem !important;
            color: rgba($gray-light, 0.5);
            border: none;
            &:hover {
                opacity: .5;
                background: transparent;
                border: none;
            }
        }
        &.ui-corner-top {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    &.ui-confirmdialog .ui-dialog-content {
        padding: 0.4em 0.8em 1em 0.8em !important;
    }
    .ui-dialog-content {
        padding: 1em ($spacer - 6rem);
        border: none;
    }
    &.ui-corner-all {
        border-radius: 0;
    }
    &.ui-widget-content {
        border: none;
        background: $white;
    }
    .ui-dialog-buttonpane {
        &.ui-widget-content {
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
        button {
            margin: .6em .4em .6em 0;
            &.ui-button {
                font-family: Roboto;
                font-weight: $font-weight-semi-bold;
                border: 1px solid $blue-primary;
                color: $blue-primary;
                background: $white;
                &:hover {
                    color: $white;
                    background: $blue-primary;
                    border-color: $blue-primary;
                }
            }
        }
    }
}


/* Picklist */

.ui-picklist {
    display: flex;
    &.ui-widget {
        font-family: $font-family-sans-serif;
        font-weight: $headings-font-weight;
    }
    .ui-picklist-caption {
        &.ui-widget-header {
            padding: .5em 1em;
            color: $white;
            background-color: $blue-primary;
            border: none;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
    .ui-button {
        font-size: 20px !important;
        font-weight: $font-weight-bold;
        color: $blue-primary;
        background-color: #e5e5e5;
        border: none;
        &:hover {
            color: #fff;
        }
    }
    .ui-button.ui-corner-all {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .ui-widget-content {
        background-color: $white;
        border-top: none;
        border-left: 1px solid #cecece;
        border-right: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .ui-picklist-buttons {
        padding: 0;
        vertical-align: top;
        button {
            margin-left: 8px;
            margin-bottom: 3px;
            padding: 0;
            width: 46px;
            border: none;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color: $white;
                background-color: $blue-primary;
                border: none;
            }
        }
    }
    &.ui-picklist-responsive {
        .ui-picklist-listwrapper {
            &.ui-picklist-source-wrapper,
            &.ui-picklist-target-wrapper {
                width: 45%;
            }
            &.ui-picklist-target-wrapper {
                margin-left: 4%;
            }
            @include media-breakpoint-down(xs) {
                margin-left: 0 !important;
            }
        }
        .ui-picklist-buttons {
            width: auto;
            height: auto;
            button {
                width: 46px;
            }
        }
        .ui-picklist-filter-container {
            .ui-picklist-filter {
                text-indent: 1.5em;
            }
            .fa {
                color: $blue-primary;
            }
            &.ui-widget-content {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

/* Order List */
.orderList-header {
  padding: 5px 5px 5px 10px;
  background-color: $white;
  border-bottom: 1px solid #cecece;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .orderlist-title {
      font-weight: 600;
      line-height: 34px;
      .fa {
          color: $blue-primary;
          font-size: 1.2em;
          padding-left: 0.5em;
      }
  }
  .orderlist-title-buttons {
      button {
          margin-right: 4px;
          &:last-child {
              margin-right: 0;
          }
      }
  }
}
.ui-orderlist {
  //display: flex;
  background: $white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  &.ui-orderlist-responsive .ui-orderlist-list,
  &.ui-orderlist-responsive .ui-orderlist-caption {
      width: 100%;
  }
  .ui-orderlist-controls {
      width: 6%;
      height: 12.5em;
      padding: 0 .25em;
      vertical-align: middle;
      @include media-breakpoint-down(sm) {
          margin: 4px auto;
          padding: .25em 0;
          width: 230px;
          height: auto;
          display: flex;
          button.ui-button {
              margin-bottom: 0 !important;
              &:last-child {
                  margin-right: 0;
              }
          }
      }
      button.ui-button {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 3px;
          padding: 0;
          width: 46px;
          font-size: 20px !important;
          font-weight: $font-weight-bold;
          color: $blue-primary;
          background-color: #e5e5e5;
          border: none;
          &:last-child {
              margin-bottom: 0;
          }
          &:hover {
              color: $white;
              background-color: $blue-primary;
              border: none;
          }
      }
  }
  .ui-orderlist-list-container {
      width: 100% !important;
      .ui-widget-content {
          border: solid #D5D5D5;
          border-width: 0 0 0 1px;
          color: #222222;
          @include media-breakpoint-down(sm) {
              border-width: 1px 0 0 0;
          }
          &.ui-orderlist-list {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow-x: hidden;
              overflow-y: auto;
              height: 13.2em;
              border-bottom-left-radius: 0;
              @include media-breakpoint-down(md) {
                  height: 18.3em;
              }
              .ui-orderlist-item {
                  margin: 0;
                  padding: .375em;
                  cursor: pointer;
                  border: 0 none;
                  font-weight: inherit;
                  border-bottom: 1px solid #D5D5D5;
                  &:last-child {
                      border-bottom: none;
                  }
              }
          }
      }
  }
}

/* Treeview */
.ui-tree {
  width: 100%;
  border: none;
    .ui-treenode{
        padding: 0;
        &.ui-treenode-leaf{
            .ui-treenode-label {       
                .label-list {
                    font-weight: $font-weight-normal !important;
                }
            }
        }
    }
    .ui-tree-container {
        padding: 0;
        min-height: 250px;

        .ui-treenode-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        
            .ui-tree-toggler {
                font-size: 1.5em;
                width: auto;
                padding-right: 0.2em;
                &.fa-caret-right{
                    color: rgba(0, 0, 0, 0.7); 
                }
                &.fa-caret-down{
                    color: $blue-lighter;
                }
            }
        
            .ui-treenode-icon {
                font-size: 1.5em;
                color: #1f4ba4;
            }
        
            .ui-treenode-label {
                padding: 0;
                width: 100%;
        
                .label-list {
                    padding-left: .5em;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-weight: $font-weight-semi-bold;
                }
            }
        }
    }
    .ui-treenode-droppoint {
        height: 2px;
    }
}

/* Autocomplete */
.prime-autocomplete-bootstrap {
  display: block;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;

  .ui-autocomplete {
    width: 100%;
    height: auto;

    input {
      width: 100%;
      padding: 6px;
    }
  }

  &:not(.with-border-left) {
    .ui-autocomplete {
      input {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
      }
    }
  }
}

/* BreadCrumb */
.ui-breadcrumb {
    padding: .3em;
    &.ui-widget-header{
        color: #1b1d1f;
        font-weight: normal;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: #d9d9d9;
        background-color: #f7f7f7;
    }
    &.ui-corner-all{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    ul {
        li{
            margin-right:2px;
            display: inline-block;
            vertical-align: middle;
            a.ui-menuitem-link{
                display: inline-block;
                color: $white;
                text-decoration: none;
                min-width: 60px;
                //height: 26px;
                background: $blue;
                position: relative;
                border-radius: 0.25rem;
                &::before {
                    content:"";
                    position: absolute;
                    left: 100%;
                    top: 10px;
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-left: 6px solid $blue;
                    border-bottom: 6px solid transparent;
                }

                &:hover{
                    background: #2863d9;
                    &::before {
                        border-left-color: #2863d9;
                    }
                }
              
                span.ui-menuitem-text{
                    padding: 6px 10px;
                    display: inline-block;
                    font-weight: $font-weight-semi-bold;
                }
            }
            &.ui-breadcrumb-chevron{
                &:before {
                    display:none;
                }
            }
            &:last-child{
                margin-right:0;
                a.ui-menuitem-link{
                    &::before {
                        content:"";
                        border-left: 0;
                    }
                }
            }
        }
    }
}


