<agro-menu-interna></agro-menu-interna>


<ngu-carousel [inputs]="carouselOne">
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg1-bg.png" alt="First slide" class="home-slider-bg item-bg">
		<div class="items relative flex center space-center">
			<div class="spacing flex column">
				<span>A TV ABERTA É</span>
				<span>FUNDAMENTAL</span>
				<span>PARA QUEM DESEJA</span>
				<span>ATINGIR DE FORMA</span>
				<span>MAIS EFICAZ O</span>
				<span>PÚBLICO RURAL</span>
			</div>
			<div><img src="assets/img/tv-pg1-1.png"></div>
		</div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg2-bg.png" alt="First slide" class="home-slider-bg item-bg">
		<div class="items relative flex center space-center">
			<div class="text-1 height-3">

				<span>A TV É O PRINCIPAL<br>MEIO DE COMUNICAÇÃO<br>QUE O PRODUTOR <br>UTILIZA PARA SE MANTER<br>ATUALIZADO SOBRE A<br>ATIVIDADE AGROPECUÁRIA</span>
			</div>
			<div id="comp" class="img-size"><img src="assets/img/tv-pg2-1.png"></div>
		</div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg3-bg.png" alt="First slide" class="home-slider-bg item-bg">
		<div class="items relative flex center space-center">
			<div><img src="assets/img/tv-pg3-1.png"></div>
		</div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg4-bg.png" alt="First slide" class="home-slider-bg item-bg">
		<div class="items relative flex center space-center">
			<div class="text-1 height"><span>LIDERANÇA<br>ABSOLUTA DA<br>GLOBO, A REDE DE<br>TV ABERTA<br>PREFERIDA DOS<br>PRODUTORES</span></div>
			<div class="img-size2"><img src="assets/img/tv-pg4-1.png"></div>
		</div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg5-bg.png" alt="First slide" class="home-slider-bg quebra item-bg">
		<div class="items relative flex center space-center">
			<div class="text-2 height-1"><span>ALÉM DE TEMAS<br>LIGADOS AO<br>CAMPO, OUTROS<br>GÊNEROS DE<br>PROGRAMAÇÃO<br>ATRAEM OS<br>PRODUTORES<br>RURAIS</span></div>
			<div class="img-size2"><img src="assets/img/tv-pg5-1.png"></div>
		</div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg6-bg.png" alt="First slide" class="home-slider-bg item-bg">
		<div class="items relative flex center space-center">
			<div class="text-2 height-2"><span>A GLOBO TEM<br>PRESENÇA<br>MARCANTE PARA<br>PRODUTORES<br>RURAIS DE TODAS<br>AS FAIXAS<br>ETÁRIAS</span></div>
			<div class="img-size3"><img src="assets/img/tv-pg6-1.png"></div>
		</div>
	</ngu-item>
	<ngu-item NguCarouselItem>
		<img src="assets/img/tv-pg7-bg.png" alt="First slide" class="home-slider-bg item-bg">
		<div class="items relative flex center space-center">
			<div class="text-2 height-2">
				<span>SEJA QUAL FOR<br>A ATIVIDADE,<br>O PRODUTOR<br>RURAL BRASILEIRO<br>ESTÁ LIGADO NA<br>GLOBO</span>
			</div>
			<div class="img-size2"><img src="assets/img/tv-pg7-1.png"></div>
		</div>
	</ngu-item>
	<button NguCarouselPrev class='leftRs'><img src="assets/img/btn-prev.png"></button>
	<button NguCarouselNext class='rightRs'><img src="assets/img/btn-next.png"></button>
</ngu-carousel>